fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langgraph
faiss-cpu
sentence-transformers
pypdf
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pypdf2
python-docx

